RewriteEngine on

# --------------------------------------------
# Fichiers ou dossiers réels (css, js, images, pdf, zip, etc.) : pas de réécriture, on les sert tels quels
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# --------------------------------------------
# RÈGLES DE RÉ-ÉCRITURE
# DETAIL PROJET.show
# PATTERN : /projets/id/slug.html 
# URL : ?projetId=x
# RewriteRule ^projets\/([1-9][0-9]*)\/[a-z0-9]([a-z0-9\-]*[a-z0-9])*$ ?projets=show&id=$1 [L]

#AJOUT D'UN PROJET : FORMULAIRE
#PATTERN : /projects/add/form
#URL : index.php?projets=addForm
RewriteRule ^projets\/add\/form$ index.php?projets=addForm [L]

#AJOUT D'UN PROJET : INSERT
#PATTERN : /projects/add/insert
#URL : index.php?projets=add
RewriteRule ^projets\/add\/insert$ index.php?projets=add [L]

#SUPPRESSION D'UN PROJET
#PATTERN : /projets/delete/x/slug
#URL : index.php?projets=delete&id=x
RewriteRule ^projets\/delete\/([1-9][0-9]*)$ index.php?projets=delete&id=$1 [L]


# ROUTE USERS.LOGIN
# PATTERN: /users/login
# URL: ?users=login
RewriteRule ^users/login$ ?users=login [L]

# ROUTE USERS.LOGIN-FORM
# PATTERN: /users/login-form
# URL: ?users=login-form
RewriteRule ^users/login-form$ ?users=login-form [L]

# --------------------------------------------
# FALLBACK
# Toute autre URL non prise en charge par une route ci-dessus part vers le front controller
RewriteRule ^ index.php [L]